{% extends 'base.twig' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <a href="{{ siteurl }}/events" class="pull-right">{% trans 'Zurück zur Übersicht' %}</a>
            <h1>{{  event['title'] }}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if is_empty(event['bodyshort']) and is_empty(event['body_long']) %}
                            <p class="text-center">{% trans 'Es ist keine Beschreibung vorhanden!' %}</p>
                        {% else %}
                            {% if not is_empty(event['bodyshort']) %}
                                <p><strong>{% trans 'Kurzbeschreibung' %}:</strong></p>
                                <p>{{ event['bodyshort']|raw }}</p>
                            {% endif %}

                            {% if eventHasStatus(event['status'], 4) %}
                                <p><strong>{% trans 'Beschreibung' %}:</strong></p>
                                {{ event['bodylong']|raw }}
                            {% endif %}
                        {% endif %}
                        {% if not is_empty(event['targetgroup']) %}
                        <p><strong>{% trans 'Zielgruppe' %}:</strong><br/> {{ event['targetgroup'] }}</p>
                        {% endif %}
                        {% if not is_empty(event['trainer']) %}
                        <p><strong>{% trans 'Referenten' %}:</strong><br/> {{ event['trainer'] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-group span-right">
                    <p class="list-group-item active clearfix">
                        {% trans 'Info' %}
                    </p>
                    {% if not is_empty(event['customid']) %}
                        <p class="list-group-item clearfix">
                            <strong>{% trans 'Seminarnummer' %}: <span>{{ event['customid'] }}</span></strong>
                        </p>
                    {% endif %}
                    <p class="list-group-item clearfix">
                        {% trans 'Beginn' %}: <span>{{ event['startdate']|date("d.m.Y") }} | {{ event['timestart'] }} {% if not is_empty(event['timeend']) %} bis {{ event['timeend'] }}{% endif %}</span>
                    </p>
                    {% if not is_empty(event['enddate']) and event['enddate'] != '0000-00-00' %}
                        <p class="list-group-item clearfix">
                            {% trans 'Ende' %}: <span>{{ event['enddate']|date("d.m.Y") }} | {{ event['timestart'] }} {% if not is_empty(event['timeend']) %} bis {{ event['timeend'] }}{% endif %}</span>
                        </p>
                    {% endif %}
                    {% if not is_empty(category['name']) %}
                    <p class="list-group-item clearfix">
                        {% trans 'Kategorie' %}: <span>{{ category['name'] }}</span>
                    </p>
                    {% endif %}
                    {% if not is_empty(iqzcategory['name']) %}
                    <p class="list-group-item clearfix">
                        {% trans 'IQZ Kategorie' %}: <span>{{ iqzcategory['name'] }}</span>
                    </p>
                    {% endif %}

                    {% if not is_empty(event['administrator']) %}
                    <p class="list-group-item clearfix">
                        {% trans 'Leitung' %}: <span>{{ event['administrator'] }}</span>
                    </p>
                    {% endif %}
                    {% if not is_empty(event['membercount']) %}
                    <p class="list-group-item clearfix">
                        {% trans 'Teilnehmerzahl' %}: <span>{{ event['membercount'] }}</span>
                    </p>
                    {% endif %}
                    {% if not is_empty(event['points']) %}
                        <p class="list-group-item clearfix">
                            {% trans 'Bonuspunkte' %}: <span>{{ event['points'] }}</span>
                        </p>
                    {% endif %}
                    <p class="list-group-item active">
                        <strong>{% trans 'Preise' %}</strong>
                    </p>
                    {% if not is_empty(event['price']) %}
                    <p class="list-group-item clearfix">
                        {% trans 'Lehrgangskosten' %}: <span>{{ event['price']|number_format(2, ',', '.') }} EUR</span>
                    </p>
                    {% endif %}
                    {% if not is_empty(event['materialprice']) and event['materialprice'] > 0 %}
                    <p class="list-group-item clearfix">
                        {% trans 'Materialkosten' %}: <span>{{ event['materialprice']|number_format(2, ',','.') }} EUR</span>
                    </p>
                    {% endif %}
                    {% if not is_empty(event['additionalprice']) and event['additionalprice'] > 0 %}
                    <p class="list-group-item clearfix">
                        {% trans 'Zusätzliche Kosten' %}:<br/>{{ event['additionalprice']|nl2br }}
                    </p>
                    {% endif %}
                    {% if not is_empty(event['location']) or not is_empty(event['contacts']) %}
                        <p class="list-group-item active">
                            {% trans 'Kontakt & Ort' %}
                        </p>
                        {% if not is_empty(event['location']) %}
                        <p class="list-group-item clearfix">
                            {% trans 'Ort der Veranstaltung' %}: <span>{{ event['location']|nl2br }}</span>
                        </p>
                        {% endif %}
                        {% if not is_empty(event['contacts']) %}
                            <p class="list-group-item clearfix">
                                {% trans 'Kontaktdaten' %}: <span>{{ event['contacts']|nl2br }}</span>
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if not eventHasStatus(event['status'], 3) %}
                        <p class="list-group-item list-group-item-warning text-center">
                            {% trans 'Das Seminar ist nicht öffentlich!' %}
                        </p>
                    {% else %}
                        <p class="list-group-item list-group-item-info text-center">
                            {% trans 'Das Seminar ist öffentlich!' %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}