{% extends 'base.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>{% trans 'Einstellungen' %}</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabDefault" aria-controls="tabDefault" role="tab" data-toggle="tab">{% trans 'Allgemein' %}</a></li>
                    <li role="presentation"><a href="#tabEmail" aria-controls="tabEmail" role="tab" data-toggle="tab">{% trans 'E-Mail' %}</a></li>
                    <li role="presentation"><a href="#tabAPI" aria-controls="tabAPI" role="tab" data-toggle="tab">{% trans 'API' %}</a></li>
                </ul>

                <div class="tab-content" id="optiontabs">
                    <div role="tabpanel" class="tab-pane active" id="tabDefault">
                        <form method="post" action="{{ siteurl }}/options">
                            <input type="hidden" name="inputTab" value="default"/>
                            <legend>{% trans 'Sitzungen' %}</legend>
                            <div class="form-group">
                                <label for="inputOptionSessionTimeLimit">{% trans 'Zeit in Minuten bis zur automatischen Abmeldung' %}:</label>
                                <input type="text" name="options[default][core_session_time_limit]" id="inputOptionSessionTimeLimit" class="form-control" data-mask="000" placeholder="60" value="{{ core_session_time_limit }}"/>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabEmail">
                        <form method="post" action="{{ siteurl }}/options">
                            <input type="hidden" name="inputTab" value="email"/>
                            <legend>{% trans 'E-Mails' %}</legend>
                            <div class="form-group">
                                <label for="inputOptionMailerDefaultFrom">{% trans 'Absender Name' %}:</label>
                                <input type="text" name="options[default][core_mailer_from]" id="inputOptionMailerDefaultFrom" class="form-control" placeholder="{% trans 'Absender' %}" value="{{ core_mailer_from }}"/>
                            </div>
                            <div class="form-group">
                                <label for="inputOptionMailerDefaultFromEmail">{% trans 'Absender E-Mail' %}:</label>
                                <input type="text" name="options[default][core_mailer_from_email]" id="inputOptionMailerDefaultFromEmail" class="form-control" placeholder="noreply@domain.de" value="{{ core_mailer_from_email }}"/>
                            </div>
                            <div class="form-group">
                                <label for="inputOptionMailerDefaultReplyEmail">{% trans 'Antwort E-Mail' %}:</label>
                                <input type="text" name="options[default][core_mailer_reply_email]" id="inputOptionMailerDefaultReplyEmail" class="form-control" placeholder="reply@domain.de" value="{{ core_mailer_reply_email }}"/>
                            </div>
                            <div class="form-group">
                                <label for="inputOptionMailerDefaultAdminEmail">{% trans 'Administrator E-Mail' %}:</label>
                                <input type="text" name="options[default][core_mailer_admin_email]" id="inputOptionMailerDefaultAdminEmail" class="form-control" placeholder="admin@domain.de" value="{{ core_mailer_admin_email }}"/>
                            </div>

                            <legend>{% trans 'SMTP Ausgangsserver' %}</legend>
                            <div class="form-group">
                                <label for="inputOptionMailerSMTPHost">{% trans 'SMTP Host' %}:</label>
                                <input type="text" name="options[default][core_mailer_smtp_host]" id="inputOptionMailerSMTPHost" class="form-control" placeholder="mail.domain.de" value="{{ core_mailer_smtp_host }}"/>
                                <p class="help-block">{% trans 'Lassen Sie diese Feld leer, wenn Sie keinen externen Server nutzen wollen!' %}</p>
                            </div>
                            <div class="form-group">
                                <label for="inputOptionMailerSMTPUser">{% trans 'SMTP Benutzer' %}:</label>
                                <input type="text" name="options[default][core_mailer_smtp_user]" id="inputOptionMailerSMTPUser" class="form-control" value="{{ core_mailer_smtp_user }}"/>
                            </div>
                            <div class="form-group">
                                <label for="inputOptionMailerSMTPPassword">{% trans 'SMTP Passwort' %}:</label>
                                <input type="text" name="options[default][core_mailer_smtp_password]" id="inputOptionMailerSMTPPassword" class="form-control" value="{{ core_mailer_smtp_password }}"/>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabAPI">
                        <form method="post" action="{{ siteurl }}/options">
                            <input type="hidden" name="inputTab" value="api"/>
                            <legend>{% trans 'API' %}</legend>
                            <div class="form-group">
                                <label for="inputOptionAPIAllowedOrigins">{% trans 'Ajax Origins' %}</label>
                                <input type="text" name="options[api][core_api_allowed_origins]" id="inputOptionAPIAllowedOrigins" class="form-control" placeholder="http://localhost, http://extern.domain.de" value="{{ core_api_allowed_origins }}"/>
                                <p class="form-control-static">{% trans 'Alle hier eingetragenen Domains sind berechtigt die API per AJAX abzufragen! Mehre Domains bitte mit einem Komma trennen.' %}</p>
                                <div class="form-control-static">
                                    {% trans %}Ajax Calls müssen dann mit der Option "crossDomain: true" aufgerufen werden.{% endtrans %}
                                    <pre>
$.ajax({
    url: '{{ siteurl }}/api',
    crossDomain: true,
    dataType: "json"
});
                                    </pre>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-sm" id="panelOptionsSubmit">
            <button type="button" class="btn btn-primary btn-with-spinner" id="btnOptionsSubmit">{% trans 'Speichern' %}</button>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ siteurl }}/templates/js/options{% if app_mode == 'production' %}.min{% endif %}.js"></script>
{% endblock %}

{% block helpmodal %}
    <p>Hier sollen Erklärungen für die Einstellungen stehen.</p>
{% endblock %}